.MessageWindowContainer {
    background-color: var(--bs-bg-Hdark);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: var(--bs-text-light);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--bs-bg-Hdark);
    position: relative;
}

.header {
    background-color: var(--bs-bg-dark);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: sticky;
    top: 0;
}

.contactImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 12px rgba(var(--bs-bg-dark-hover), 0.1);
    border: 3px solid rgba(var(--bs-bg-dark-hover), 0.3);
    display: block;
}

.contentDetail {
    flex: 1 1;
    height: 100%;
    padding: 0 0.5em;
    min-width: 0;
}

.contactName {
    color: var(--bs-text-light);
    font-weight: bold;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address {
    font-size: 1em;
    color: var(--bs-gray-400);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputSearch {
    background-color: transparent;
    border: 1px solid var(--bs-bg-Hdark);
    margin: 0;
    padding: 0;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: large;
    color: var(--bs-bg-Hdark);
    padding: 0 0.5em;
    width: 100%;
}

.inputSearch:focus-visible {
    border: none !important;
    outline: none;
}

.inputSearch::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--bs-bg-Hdark);
    opacity: 0.7;

}

.inputSearch:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--bs-bg-Hdark);
    opacity: 0.7;
}

.inputSearch::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--bs-bg-Hdark);
    opacity: 0.7;
}

.main {
    flex: 1 1;
    overflow-y: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 1em;
    background-color: var(--bs-bg-dark);
}

.messageIn {
    display: flex;
    gap: 10px;
    max-width: 90%;
    margin-right: auto;
    align-items: flex-start;
}

.messageOut {
    display: flex;
    gap: 10px;
    max-width: 90%;
    margin-left: auto;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.messageOutSend {
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.messageIn img,
.messageOut img,
.messageOutSend img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    flex-shrink: 0;
}

.inputMessage {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 40px;
    border-radius: 8px;
    font-size: large;
    color: var(--bs-bg-Hdark);
    padding: 0 0.5em;
    width: 100%;
    color: var(--bs-text-light);
}

.inputMessage:focus-visible {
    border: none;
    outline: none;
}

.status {
    flex: 1 1;
    border-radius: 8px;
    position: relative;
}
.rejected {
    background-color: rgba(var(--bs-danger-rgb), 0.2);
    border: 2px dashed rgb(var(--bs-danger-rgb));
}
.modalContent{
    background-color:var(--bs-bg-dark)
}
.cyncSpinner{
    animation: cync 1s linear infinite;
}
@keyframes cync {
    100%{
        transform: rotate(360deg);
    }
}
.inputFile{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.inputFile::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

.activeDrag .drapWindow{
 display: flex;
}
.drapWindow{
    display: none;
    position: absolute;
    top: 80px;
    left: 15px;
    width:calc(100% - 30px);
    height: calc(100% - 160px);
    background-color: rgba(var(--bs-bg-dark-hover), 0.1);
    z-index: 5;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    border-radius: 12px;
}
.drapWindow>div{
    border: 3px dashed var(--bs-success);
    border-radius: 16px;
    padding: 2em;
    background-color: var(--bs-bg-dark);
}
.inchatIMG{
    width: 150px;
    height: 150px;
    object-fit: contain;
}